<%= content_for :title, "Список факультетов" %>

<% if @faculties.any? %>
  <div class='list'>
    <ul>
      <% @faculties.each do |faculty| %>
        <li>
          <span class='item'><%= faculty.title %></span>
          <div class="actions">
            <%= link_to 'редактировать', edit_plan_faculty_path(@plan, faculty) %>
            <%= link_to 'удалить', plan_faculty_path(@plan, faculty), :method => :delete, :confirm => 'Вы уверены?' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="empty">Нет ни одного факультета</div>
<% end %>

<%= link_to "Добавить факультет", new_plan_faculty_path(@plan), :class => 'button' %>
