<%= form_for(@specialization) do |f| %>
  <% if @specialization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specialization.errors.count, "error") %> prohibited this specialization from being saved:</h2>

      <ul>
      <% @specialization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :passing_grade %><br />
    <%= f.number_field :passing_grade %>
  </div>
  <div class="field">
    <%= f.label :density %><br />
    <%= f.text_field :density %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
