<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @specialization.title %>
</p>

<p>
  <b>Passing grade:</b>
  <%= @specialization.passing_grade %>
</p>

<p>
  <b>Density:</b>
  <%= @specialization.density %>
</p>

<p>
  <b>Department:</b>
  <%= @specialization.department %>
</p>


<%= link_to 'Edit', edit_specialization_path(@specialization) %> |
<%= link_to 'Back', specializations_path %>
