<%= content_for :title, "Список отраслей" %>

<% if @sectors.any? %>
  <div class='list'>
    <ul>
      <% @sectors.each do |sector| %>
        <li>
          <span class='item'><%= sector.title %></span>
          <div class="actions">
            <%= link_to 'редактировать', edit_plan_sector_path(@plan, sector) %>
            <%= link_to 'удалить', plan_sector_path(@plan, sector), :method => :delete, :confirm => 'Вы уверены?' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="empty">Нет ни одной отрасли</div>
<% end %>

<%= link_to "Добавить отрасль", new_plan_sector_path(@plan), :class => 'button' %>
