<%= simple_nested_form_for [@plan, @stream] do |f| %>
  <%= f.input :code, :wrapper_html => { :class => 'min_width' } %>
  <%= f.input :title, :wrapper_html => { :class => 'max_width' } %>
  <%= f.association :sector, :collection => @plan.sectors, :include_blank => '- не выбрано -', :wrapper_html => { :class => 'normal_width' } %>

  <%= f.fields_for :degrees %>
  <%= f.link_to_add 'добавить квалификацию', :degrees %>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to "Отмена", :back, :class => 'button' %>
  </div>
<% end %>
