<tr>
  <td rowspan=<%= stream.degrees.count+1+stream.degrees.flat_map(&:intakes).count %>><%= stream.code %></td>
  <td rowspan=<%= stream.degrees.count+1+stream.degrees.flat_map(&:intakes).count %>>
    <%= stream.title %>
    <%= link_to "редактировать", edit_plan_stream_path(@plan, stream) %>
    <%= link_to "удалить", plan_stream_path(@plan, stream), :method => :delete, :confirm => 'Вы уверены?' %>
  </td>
  <td rowspan=<%= stream.degrees.count+1+stream.degrees.flat_map(&:intakes).count %>><%= stream.sector_title %></td>
</tr>
<% stream.degrees.order(:code).each do |degree| %>
  <tr>
    <td rowspan=<%= degree.intakes.count+1 %>><%= "#{stream.code}.#{degree.code}" %></td>
    <td rowspan=<%= degree.intakes.count+1 %>>
      <%= degree.code_text %>
    </td>
    <td rowspan=<%= degree.intakes.count+1 %>><%= degree.entrance_exams.map(&:title).join(', ') %></td>
  </tr>
  <% degree.intakes.order(:tuition).each do |intake| %>
    <tr>
      <td><%= intake.tuition_text %> </td>
    </tr>
  <% end %>
<% end %>
