<%= link_to "назад", plan_path(@plan) %>

<h1>Список направлений</h1>
<%= link_to "добавить направление", new_plan_stream_path(@plan) %>

<ul>
  <% @streams.each do |stream| %>
    <li>
      <%= stream.title %>
      <%= link_to 'редактировать', edit_plan_stream_path(@plan, stream) %>
      <%= link_to 'удалить', plan_stream_path(@plan, stream), :method => :delete, :confirm => 'Вы уверены?' %>
    </li>
  <% end %>
</ul>

