<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @stream.code %>
</p>

<p>
  <b>Title:</b>
  <%= @stream.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @stream.duration %>
</p>

<p>
  <b>Degree:</b>
  <%= @stream.degree %>
</p>

<p>
  <b>Sector:</b>
  <%= @stream.sector %>
</p>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
