<%= link_to "назад", plan_path(@plan) %>

<h1>Список экзаменов</h1>
<%= link_to "добавить экзамен", new_plan_entrance_exam_path(@plan) %>

<ul>
  <% @entrance_exams.each do |entrance_exam| %>
    <li>
      <%= entrance_exam.title %>
      <%= link_to 'редактировать', edit_plan_entrance_exam_path(@plan, entrance_exam) %>
      <%= link_to 'удалить', plan_entrance_exam_path(@plan, entrance_exam), :method => :delete, :confirm => 'Вы уверены?' %>
    </li>
  <% end %>
</ul>

