<%= content_for :title, "План набора #{@plan.year} года" %>

<div>
  <h3>Статистика</h3>
  <ul>
    <li>Факультетов: <%= @plan.faculties.count %></li>
    <li>Кафедр: <%= @plan.departments.count %></li>
    <li>Отраслей: <%= @plan.sectors.count %></li>
    <li>Вступительных испытаний: <%= @plan.entrance_exams.count %></li>
    <li>Направлений подготовки: <%= @plan.streams.count %></li>
    <li>Профилей обучения: <%= @plan.specializations.count %></li>
  </ul>
</div>
