<%= content_for :title, "План набора #{@plan.year} года" %>

<div class="list">
  <table>
    <thead>
      <tr>
        <th><%= Stream.human_attribute_name(:code) %></th>
        <th><%= Stream.human_attribute_name(:title) %></th>
        <th><%= Stream.human_attribute_name(:sector) %></th>
        <th><%= Degree.human_attribute_name(:code) %></th>
        <th><%= Degree.human_attribute_name(:title) %></th>
        <th><%= Degree.human_attribute_name(:duration) %></th>
        <th><%= Degree.human_attribute_name(:entrance_exams) %></th>
        <th><%= Intake.human_attribute_name(:tuition) %></th>
        <th><%= Intake.human_attribute_name(:budget) %></th>
        <th><%= Intake.human_attribute_name(:price) %></th>
        <th><%= Specialization.human_attribute_name(:department) %></th>
        <th><%= Specialization.human_attribute_name(:title) %></th>
        <th><%= Specialization.human_attribute_name(:density) %></th>
        <th><%= Specialization.human_attribute_name(:passing_grade) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @plan.streams.order(:code) %>
    </tbody>
  </table>
</div>

<%= link_to 'Добавить направление', new_plan_stream_path(@plan), :class => 'button' %>
