<%= simple_nested_form_for [@plan, @stream, @degree, @intake] do |f| %>
  <%= f.input :budget, :wrapper_html => { :class => 'min_width' } %>
  <%= f.input :price, :wrapper_html => { :class => 'min_width' } %>
  <%= f.input :tuition, :include_blank => '- не выбрано -', :wrapper_html => { :class => 'normal_width' } %>

  <%= f.fields_for :specializations %>
  <%= f.link_to_add 'добавить профиль', :specializations %>

  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to "Отмена", :back, :class => 'button' %>
  </div>
<% end %>
