<%= form_for(@intake) do |f| %>
  <% if @intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intake.errors.count, "error") %> prohibited this intake from being saved:</h2>

      <ul>
      <% @intake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :tuition %><br />
    <%= f.text_field :tuition %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.number_field :budget %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :stream %><br />
    <%= f.text_field :stream %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
