<h1>Listing intakes</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Tuition</th>
    <th>Budget</th>
    <th>Price</th>
    <th>Stream</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intakes.each do |intake| %>
  <tr>
    <td><%= intake.year %></td>
    <td><%= intake.tuition %></td>
    <td><%= intake.budget %></td>
    <td><%= intake.price %></td>
    <td><%= intake.stream %></td>
    <td><%= link_to 'Show', intake %></td>
    <td><%= link_to 'Edit', edit_intake_path(intake) %></td>
    <td><%= link_to 'Destroy', intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Intake', new_intake_path %>
