<!DOCTYPE html>
<html>
  <head>
    <title>Информационная система &laquo;План набора&raquo; | <%= yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="body_wrapper">
      <div class="navigation">
        <%= render_navigation :level => 1 %>
      </div>

      <% unless controller_name =~ /plans/ && action_name =~ /index|new|create/ %>
        <div class="sub_navigation">
          <%= render_navigation :level => 2 %>
        </div>
      <% end %>

      <div class="breadcrumbs">
        <%= render_navigation :renderer => :breadcrumbs, :join_with => '&rarr;', :static_leaf => true, :context => :breadcrumbs %>
      </div>

      <h1><%= yield :title %></h1>

      <%= yield %>
    </div>
  </body>
</html>
